<navigation></navigation>

<div id="about_me">
<!-- 	<h1 class="page_title">About Me</h1> -->
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1 class="page_title">About Me</h1>
			<p>A Seattle-area native, I grew up just minutes from scenic SeaTac Airport. Since then I’ve traded plane noise for, well, less deafening plane noise, settling in Seattle with this dude I married, and our two dogs (Batman and Yogi).</p>

			<p>When I’m not working, you can usually find me doing whatever Batman and Yogi want to do, wrangling raptors and nursing baby squirrels at PAWS' wildlife hospital, cruising around in my sweet ‘95 LeBaron convertible, cheering on the Seahawks, still crying over the Sonics, or just generally adventuring by land or sea.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<img ng-src="img/camel.jpg" class="camel">
		</div>
	</div>

	</div>
</div>
 



<footer></footer>
