<navigation></navigation>
  
<div id="contact_container" class="row">
  <div class="icon col-xs-4">
    <a href="mailto:brittanybroetje@gmail.com">
      <img ng-src="/img/email.png">
    </a>
  </div>
  <div class="icon col-xs-4">
    <a href="https://www.linkedin.com/in/brittanybroetje" target="_blank">
      <img ng-src="/img/linkedin-black.png">
    </a>
  </div>
  <div class="icon col-xs-4">
    <a href="https://github.com/britbroet" target="_blank">
      <img ng-src="/img/github-mark.png">
    </a>
  </div>
</div>

<footer></footer>
