<navigation></navigation>

<h1 class="page_title">Sup.</h1>

<div id="contact_form">
	<form>
			<div class="form_field">
				Name <input type="text" placeholder="Your Name" required>
			</div>
			<div class="form_field">
				Email <input type="email" placeholder="email@email.com" required>
			</div>
			<div class="form_field">
				Message <input type="textarea" placeholder="message" required>
			</div>
			<div class="form_field">
				<input type="submit" value="Submit">
			</div>
	</form>
</div>

<footer></footer>