<navigation></navigation>

<div class="row">
	<div class="col-xs-12">
		<h2 class="intro_subtitle">Hi, I'm Brit, a full-stack devloper in Seattle, WA.</h2>
	</div>
</div>
<div class="row intro_row">
	<div class="visible-xs-block">
		<div class="intro_image_container">
			<!-- <img class="intro_image" ng-src="/img/brit-mug.jpg"> -->
			<img class="intro_image" ng-src="/img/b-ankor-bw.jpg">
		</div>
	</div>
</div>
<div class="row intro_row">
	<div class="col-xs-12 col-sm-7 col-md-8">
		<h3 class="intro_subtitle">
			I’m an entrepreneurial and efficiency-driven web developer, with a background in product strategy, planning, marketing, and management. I play great with others, never lose sight of strategic objectives, and thrive in environments where complacency does not. 
		</h3>
		<h4 class="intro_subtitle">
			I'm currently available for full-time and contract roles in the Greater Seattle/Bellevue Area. <a ng-href="/contact">Contact me here!</a>
		</h4>
	</div>

	<div class="hidden-xs col-sm-5 col-md-4">
		<div class="intro_image_container">
			<!-- <img class="intro_image" ng-src="/img/brit-mug.jpg"> -->
			<img class="intro_image" ng-src="/img/b-ankor-bw.jpg">
		</div>
	</div>

</div>

<footer></footer>