<navigation></navigation>

<div class="row">

		<div ><h2 class="intro_subtitle">Hi, I'm Brit, and this is the little corner of the web I've seized for self-promotion!</h1></div>
	<div class="col-xs-12 col-sm-8">
		<h3 class="intro_subtitle">
			I’m an entrepreneurial and efficiency-driven full-stack developer, with a background in product strategy, planning, and management. I play great with others, never lose sight of strategic objectives, and thrive in environments where complacency does not. 
		</h3>
		<h4 class="intro_subtitle">
			I'm currently available for full-time and contract roles in the Greater Seattle/Bellevue Area. So if any of this sounds like your jam, feel free to <a ng-href="/contact">contact me</a>!
		</h4>
	</div>

	<div class="col-xs-12 col-sm-4">
		<div>
			<img class="intro_image" ng-src="/img/brit-mug.jpg">
		</div>
	</div>

</div>

<footer></footer>