<navigation></navigation>

<h1 class="page_title">Featured Projects</h1>
<!-- <div class="view_container"> -->
<div class="projects_page_info">
	<p>The following projects were designed and built from the ground up (either by me,  individually, or as a part of a group) for my General Assembly course. </p>

	<p>Each was assigned within a week or two of first exposure to the technology used, and delivered within a week of assignment. So while I'm extremely proud of what I/we were able to deliver by these projects' respective due dates, it's worth noting that there are still pieces of functionality I'm continuing to develop.</p> 

	<p>To learn more about a specific project, its current status, and development plans, click on the project name or <span class="glyphicon glyphicon-info-sign"></span> link.</p>
</div>

	<div class="projects_controls">
		<div class="view_container">
			<div ng-click="projectView = 'tiled'" style="display: inline;" title="Tile view"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></div>
			<div ng-click="projectView = 'list'" style="display: inline;" title="List view"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
		</div>
		<div ng-init="showFilters = false">
			<div class="filter_container">
				<div ng-click="showFilters = !showFilters" style="display: inline; margin-left: 40px;" title="Filter by technology used"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></div>
			</div>
		</div>
	</div>


	  <div class="filter_panel sample-show-hide" ng-show="showFilters">
	  	<div class="filter_button">
	 			<button ng-click="ajax = !ajax" class="filter" ng-class="{active_filter: ajax, inactive_filter: !ajax}">AJAX</button>
	 		</div>
	  	<div class="filter_button">
		  	<button ng-click="angular = !angular" class="filter" ng-class="{active_filter: angular, inactive_filter: !angular}">AngularJS</button>
		  </div>
	  	<div class="filter_button">	
		  	<button ng-click="js = !js" class="filter" ng-class="{active_filter: js, inactive_filter: !js}">JavaScript</button>
	 		</div>
	  	<div class="filter_button">
		  	<button ng-click="jquery = !jquery" class="filter" ng-class="{active_filter: jquery, inactive_filter: !jquery}">jQuery</button>
	 		</div>
	  	<div class="filter_button">
		  	<button ng-click="mongodb = !mongodb" class="filter" ng-class="{active_filter: mongodb, inactive_filter: !mongodb}">MongoDB</button>
	 		</div>
	  	<div class="filter_button">
		  	<button ng-click="node = !node" class="filter" ng-class="{active_filter: node, inactive_filter: !node}">Node.js</button>
	 		</div>
	  	<div class="filter_button">
		  	<button ng-click="postgres = !postgres" class="filter" ng-class="{active_filter: postgres, inactive_filter: !postgres}">PostgreSQL</button>
	 		</div>
	  	<div class="filter_button">
		  	<button ng-click="rails = !rails" class="filter" ng-class="{active_filter: rails, inactive_filter: !rails}">Rails</button>
		  </div>
	  </div>



	<div ng-if="projectView === 'list'">
		projects-list
	</div>

	<div ng-if="projectView === 'tiled'" style="margin-bottom: 400px;">

<!-- 		<div id="projects_tiled">
			<div ng-repeat="project in projects | orderBy : 'position'" class="animate-if" data-ng-if="((!js) || (project.tech.javascript == js)) && ((!jquery) || (project.tech.jquery == jquery)) && ((!angular) || (project.tech.angular == angular)) && ((!ajax) || (project.tech.ajax == ajax)) && ((!mongodb) || (project.tech.mongodb == mongodb)) && ((!node) || (project.tech.node == node)) && ((!postgres) || (project.tech.postgres == postgres)) && ((!rails) || (project.tech.rails == rails))" style="margin-bottom: 20px;">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<img ng-src="{{project.image}}" class="img-responsive">
						</div>
						<div class="col-xs-12 col-sm-8">
							<h2 class="project_title">{{project.name}}</h2>
						</div>
					</div>
			</div>
		</div> -->


	<div id="projects_tiled">
		<div ng-repeat="project in projects | orderBy : 'position'" class="animate-if" data-ng-if="((!js) || (project.tech.javascript == js)) && ((!jquery) || (project.tech.jquery == jquery)) && ((!angular) || (project.tech.angular == angular)) && ((!ajax) || (project.tech.ajax == ajax)) && ((!mongodb) || (project.tech.mongodb == mongodb)) && ((!node) || (project.tech.node == node)) && ((!postgres) || (project.tech.postgres == postgres)) && ((!rails) || (project.tech.rails == rails))" style="display: inline-block;">
			<div id="{{project.id}}" class="tile_project_container">
				<div class="tile_content">
					<a class="title" ng-href="{{project.info}}">
						<img ng-src="{{project.logo}}" class="hover_logo">
						<span class="{{project.title_class}}">{{project.hover_title}}</span>
					</a>
					<div class="icon_container">
						<div class="icon">
							<a ng-href="{{project.git}}" title="Github repo"><img ng-src="/img/github-white.png" width="30" style="margin-top: -10px; cursor: pointer;"></a>
						</div>
						<div class="icon">
							<a ng-href="{{project.live}}" title="Live version" style="color: #fff; cursor: pointer;"><span class="glyphicon glyphicon-globe"></span></a>
						</div>
						<div class="icon">
							<a ng-href="{{project.info}}" title="Project details" style="color: #fff; cursor: pointer;"><span class="glyphicon glyphicon-info-sign"></span></a>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>


<footer></footer>
