<navigation></navigation>
 TIMELINE!
<div class="timeline_container">
	<timeline></timeline>
</div>

<hr>

	<div class="projects_controls">
		<div class="view_container">
			<div ng-click="projectView = 'tiled'" style="display: inline;" title="Tile view"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></div>
			<div ng-click="projectView = 'list'" style="display: inline;" title="List view"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
		</div>
		<div ng-init="showFilters = false">
			<div class="filter_container">
				<div ng-click="showFilters = !showFilters" style="display: inline; margin-left: 40px;" title="Filter by technology used"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></div>
			</div>
		</div>
	</div>


	  <div class="filter_panel sample-show-hide" ng-show="showFilters">
	 		<button ng-click="ajax = !ajax" class="filter" ng-class="{active_filter: ajax, inactive_filter: !ajax}">AJAX</button>
		  <button ng-click="angular = !angular" class="filter" ng-class="{active_filter: angular, inactive_filter: !angular}">AngularJS</button>
		  <button ng-click="js = !js" class="filter" ng-class="{active_filter: js, inactive_filter: !js}">JavaScript</button>
		  <button ng-click="jquery = !jquery" class="filter" ng-class="{active_filter: jquery, inactive_filter: !jquery}">jQuery</button>
		  <button ng-click="mongodb = !mongodb" class="filter" ng-class="{active_filter: mongodb, inactive_filter: !mongodb}">MongoDB</button>
		  <button ng-click="node = !node" class="filter" ng-class="{active_filter: node, inactive_filter: !node}">Node.js</button>
		  <button ng-click="postgres = !postgres" class="filter" ng-class="{active_filter: postgres, inactive_filter: !postgres}">PostgreSQL</button>
		  <button ng-click="rails = !rails" class="filter" ng-class="{active_filter: rails, inactive_filter: !rails}">Rails</button>

	  </div>