  <div id="main" style="margin-top: 300px;">
    <div id="centerContent">
      <a href="/home" style="text-decoration: none;">
      <div id="name">
        <span style="color: blue;">&#60;<strong>developer</strong></span>
        <span style="color: blue;">&nbsp;id&#61;</span>
        <span style="color: #0E8C3A;">&#34;Brittany_Broetje&#34;</span>
        <span style="color: blue;">&nbsp;class&#61;</span><span style="color: #0E8C3A";>&#34;web front-end&#34;</span><span style="color: blue;">&#62;</span>
      </div>
      </a>
    </div>
  </div>