body {
	/*font-family: 'Source Code Pro', monospace;*/
	font-family: 'Roboto', sans-serif;
	display: flex !important;
}

html {
	height: 100%;
	background-color: #fff;
}

a, a:hover {
	color: #000;
}

img {
	max-width: 100%;
}

p {
	/*font-family: 'Source Code Pro', monospace !important;*/
	font-family: 'Roboto', sans-serif;
}

li {
	list-style-position: inherit !important;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

h1.page_title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}


h1.intro_title {
	text-align: center;
	text-transform: uppercase;
}

h2.intro_subtitle {
	text-align: center;
	margin: 70px 0 50px 0;
}

h3.intro_subtitle, h4.intro_subtitle {
	text-align: right;
	padding-right: 30px;
	line-height: 1.4em;
}

h4.intro_subtitle {
	margin: 50px 0;
}

.intro_subtitle a {
	color: #0288AD
}

.intro_subtitle a:hover {
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}

.filter_container {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.filter_button {
	display: inline-block;
}

.active_filter {
	color: white;
	background-color: #0288AD;
	border: 1px solid #0288AD;
}

.inactive_filter {
	/*color: #777;*/
	background-color: white;
	color: #000;
	border: 1px solid #000;
	/*border: 1px solid #ccc;*/
}

.filter, .filter:focus {
	font-family: 'Source Code Pro', monospace;
	outline: none;
	margin: 5px;
}




#main {
	display: flex;
	justify-content: center;
	min-height:100%;
    min-width:100%;
    align-items:center;
/*    position:relative;
    font-family: 'Source Code Pro', monospace;*/ 
    font-family: 'Roboto', sans-serif;
}

#centerContent {

	justify-content: center;
}

#name {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	font-size: 16px;
}


/* NAVIGATION */

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 50px 0;
    border-bottom: 1px dashed #ccc;
    padding: 0 0 15px 0;
}

.nav_title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 3px;
    font-size: 1.6em;
}

.brit {
	color: #B08B0D;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 32px;
}

#logo:hover, a.logo_link:hover  {
	text-decoration: none;
	cursor: pointer;
}


.broetje {
	letter-spacing: 3px;
	font-size: 1.6em;
	color: #000;
}

.navmenu {
	display:flex;
	justify-content: flex-end;
	font-family: 'Oswald', sans-serif;
/*	font-family: 'Source Code Pro', monospace;*/
}

.navmenu_mobile {
	font-family: 'Oswald', sans-serif;
	display: block;
}

.menuItem {
	display: inline-block;
	margin-left: 30px;
}

.menuItem > a {
	text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding-left: 1px;
}

.menu_Item_active {
	display: inline-block;
	margin-left: 30px;
	border: 1px solid #000;
    padding: 5px;
    margin-top: -5px;
}

.menu_Item_active a:hover, .menuItem a:hover {
/*	text-decoration: none;
	font-weight: 700;*/
}

.menu a:hover {
	font-weight: 700 !important;
	text-decoration: none;
}

.menu:hover {
	border-bottom: 1px dotted #444;
	cursor: pointer;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: none;
}



.name:hover {
	border-bottom: 1px dotted #444;
	cursor: pointer;
}


/*.moveUp {
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
/*    animation:  mymove 5s infinite;
}*/

/* HOME */

img.intro_image {
	width: 300px;
	border-radius: 150px;
}

/* PROJECTS PAGE */

.projects_page_info {
    max-width: 700px;
    text-align: justify;
    margin: 0 auto;
    font-size: 13px;
    color: #777;
    padding: 5px 15px 1px 15px;
    margin-bottom: 50px;
    border-left: 3px solid #B08B0D;
}

.projects_page_info > p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.projects_controls {
	display: flex; 
	justify-content: center; 
	align-items: center;
	font-size: 18px;
}

.filter_panel {
	text-align: center;
	margin: 25px 0;
}


/* NEW CONTAINERS */

.tile_project_container {
    background-size: cover;
/*    height: 400px;
    width: 448px;*/
    height: 360px;
    width: 403px;
    margin: 30px;
    display: inline-block;
    border-top: 5px solid #0288AD;
}

.tile_project_container:hover .tile_content {
/*    background-image: url('/img/RoundUp1.png');*/
    background-size: cover;
/*    height: 440px;
    width: 500px;*/
    visibility: visible;
}

#roundup.tile_project_container {
    background-image: url('/img/RoundUp1.jpg');
}

#roundup.tile_project_container:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/img/RoundUp1.jpg');
}

#jquery_todo.tile_project_container {
    background-image: url('/img/todo-list-teal.jpg');
}

#jquery_todo.tile_project_container:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/img/todo-list-teal.jpg');
}

#vicegrip.tile_project_container {
    background-image: url('/img/ViceGrip3.jpg');
}

#vicegrip.tile_project_container:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/img/ViceGrip3.jpg');
}

.vicegrip_hover {
	font-weight: 800;
	padding: 0 5px;
	font-family: 'Raleway', sans-serif !important;
	text-transform: uppercase;
}

.todo_hover {
	font-family: 'Raleway', sans-serif !important;
	text-transform: uppercase;
}

.progress_tracker_hover {
	font-weight: 400;
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
}

.todo_hover {
	font-family: 'Amatic SC', cursive !important;
	font-weight: 700;
}

#progress_tracker.tile_project_container {
    background-image: url('/img/ProgressTracker1.jpg');
}

#progress_tracker.tile_project_container:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/img/ProgressTracker1.jpg');
}

.tile_content {
	color: #fff;
	visibility: hidden;
	text-align: center;
	display: block;
}


.tile_content .icon_container {
	display: block;
}

.tile_content .icon {
	font-size: 30px;
	display: inline-block;
	padding: 3px 5px;
	cursor: pointer;
}


.tile_content .title {
	margin: 120px auto 10px auto;
	display: inline-block;
	font-size: 3em !important;
	font-family: 'Roboto Condensed', sans-serif !important;
}

a.title, a.title:hover {
	color: white;
	text-decoration: none;
}


#projects .projects_container {
	width: 100%;
	min-height: 800px;
}

#projects_tiled {
	margin-top: 50px;
	text-align: center;
}

#projects .project {
	margin: 100px 0;
}

#projects .project_info {
	display: flex;
	position: relative;
	align-items: center;
	/*background-color: #ddd;*/
	min-height: 200px;
}

#projects .preview {
	/*background-color: #bbb;*/
}

#projects .preview img {
/*	width: 100px;
	height: 100px;*/
	padding: 0 10px;
}




.hover_logo {
	max-width: 40px;
    max-height: 30px;
    vertical-align: baseline;
}

#projects .details_container {
	background-color: #aaa;
	height: 200px;
}

#projects .tech_container, .tech_container {
    background-color: #fff;
    min-height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    max-width: 700px;
    margin: 20px auto 60px auto;
}



#projects .tech_logo img, .tech_logo img {
	display: inline-block;
	max-height: 20px;
	padding: 0 4px;
}

#projects .logo_only img {
	display: inline-block;
	max-height: 40px;
	padding: 0 4px;
}

.not_used {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .3;
}

h2.project_title {
	padding: 20px;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 0px;
}



.logo_button img {
	width: 100px;
}


/* PROJECT DETAIL PAGE */

.project_detail_title {
	font-size: 60px;
	text-align: center;
    margin: 50px 0 30px 0;
}

.project_detail_info {
    text-align: center;
}

.project_detail_info h2 {
    text-align: center;
    text-decoration: underline;
}

.project_status {
	background-color: #efefef;
    margin: 70px auto 0 auto;
    max-width: 700px;
    padding: 5px 15px;  
}

.project_status h2, .project_status p, .project_status ul > li {
    text-align: left;
    font-family: monospace;
    text-decoration: none;
}

.project_status h2 {
	margin-top: 4px;
    font-size: 24px;
}

.project_status ul > li {
	line-height: 13px;
    margin-bottom: 5px;
    font-size: 12px;
}




/* DEMOS */
#vice_grip .demo_container, #roundup .demo_container {
	text-align: center;
}

#vice_grip .demo, #roundup .demo {
	height: 500px;
	width: 769px;
} 





/* RESUME PAGE */


.resume_container {
	max-width: 900px;
	margin: 50px auto 100px auto;
}

#resume {
	margin-top: 50px;
	font-family: 'Oswald', sans-serif;
}

#resume .section_title {
    margin: 70px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #0288AD;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}

#resume .position {
	margin: 40px 0;
}

#resume .education {
	margin: 20px 0;
}

#resume .education_location {
	font-weight: 300;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

#resume .position_title, .education_title {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
}

#resume .position_location, #resume .position_geo, #resume .position_duration, #resume .position_title, #resume .education_duration {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
}

#resume .position_location {
	display: inline-block;
	/*color: #777;*/
	/*font-style: italic;*/
	border-left: 2px solid #444;
	padding-left: 10px;
	margin-left: 5px;
	font-weight: 300;
}

#resume .position_description {
	font-size: 14px;
	margin-top: 15px;
	line-height: 18px;
	font-family: 'roboto', sans-serif;
}

#resume .position_description > ul {
	margin-left: -20px;
}

#resume li {
	margin-bottom: 10px;
}

/* Chrome, Safari, Opera 
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {top: 0px;}
}

@keyframes mymove {
    from {left: -100px;}
    to {top: -100px;}
}
*/

#contact_container {
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
}

#contact_container .icon {
	display: inline-block;
}

#contact_container > img {
	max-width: 100px;
}





.quarter {
  display: inline-block;
  min-width: 25%;
}

/* FOOTER */

.footer_container {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 50px 0 0 0;
	border-top: 1px dashed #ccc;
	padding: 50px 0;
	font-family: 'Oswald', sans-serif;
}

.copyright {
	letter-spacing: 3px;
    font-size: .8em;
    text-align: center;
}

.contact_logo {
	width: 20px;
}




/* OTHER TRY */

/*.filter_panel {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.filter_panel .sample-show-hide {
  transition: all linear 0.5s;
}
.filter_panel .sample-show-hide.ng-hide {
  opacity: 0;
}*/

/*
.filter_panel {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.filter_panel.ng-enter {
  opacity: 0;
}

.filter_panel.ng-enter.ng-enter-active {
  opacity: 1;
}

.filter_panel.ng-leave {
  opacity: 1;
}

.filter_panel.ng-leave.ng-leave-active {
  opacity: 0;
}*/

/* lfjsldfjslkjs */

/*.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}*/

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

/* MOBILE STYLING */

@media (max-width: 768px) {
	.menuItem {
	    display: block;
	    margin-left: 0px;
	    text-align: center;
	    padding: 5px 0;
	}
	.menu_Item_active {
	    margin: 2px;
	}
	.nav_container {
	    margin: 20px 0 20px 0;
	}
	#vice_grip .demo, #roundup .demo {
		height: 247px;
		width: 410px;
	} 
    .not_used {
    	display: none;
    }
}

@media (max-width: 465px) {

	/* PROJECT PAGE */

	.tile_project_container {
	    height: 300px;
	    width: 355px;
	    margin: 30px -40px 15px -40px;
	    display: block;
	}

	/* PROJECT DETAIL PAGES*/

	.project_detail_title {
    	font-size: 36px;
    }

	.tech_container {
		margin: 10px auto 20px auto;
	}

	.project_detail_info h2 {
		font-size: 24px;
	}

	#vice_grip .demo, #roundup .demo {
		height: 200px;
		width: 307px;
	} 

	/* RESUME */
	#resume .position_title {
		display: block;
	}

	#resume .position_location {
		display: block;
		border-left: none;
		padding-left: 0px;
		margin-left: 0px;
	}

}