<navigation></navigation>

<div id="vice_grip">

	<h1 class="vicegrip_hover project_detail_title">ViceGrip</h1>

	<div class="demo_container">
		<iframe class="demo" frameborder="0" allowfullscreen ng-src="https://s3.amazonaws.com/img0.recordit.co/jdL5yVVrDF.mp4?AWSAccessKeyId=AKIAINSRFOQXTN4DT46A&Expires=1483571042&Signature=hdwNjyq0jAw%2BdbQ7kOJR7%2Bm9fiY%3D"></iframe>
	</div>

	<div class="tech_container">
		<div class="tech_logo not_used">
			<img ng-src="/img/AJAX-logo.png">
		</div>
		<div class="tech_logo not_used">
			<img ng-src="/img/AngularJS-large.png">
		</div>
		<div class="tech_logo logo_only">
			<a href="#"><img ng-src="/img/JS-logo.png" title="JavaScript"></a>
		</div>
		<div class="tech_logo">
			<img ng-src="/img/jquery-logo.png" style="max-height: 20px;">
		</div>
		<div class="tech_logo not_used">
			<img ng-src="/img/MongoDB-logo.png">
		</div>
		<div class="tech_logo not_used">
			<img ng-src="/img/NodeJS-logo.png">
		</div>
		<div class="tech_logo">
			<img ng-src="/img/postgresql-logo.png" style="max-height: 30px;">
		</div>
		<div class="tech_logo logo_only">
			<img ng-src="/img/rails-logo.png" style="max-height: 30px;">
		</div>
		<div class="tech_logo logo_only">
			<img ng-src="/img/ruby-logo.png" style="max-height: 30px;">
		</div>
	</div>

</div>



<footer></footer>