body {
	height: 100%;
	font-family: 'Source Code Pro', monospace;
}

html {
	height: 100%;
}

p {
	font-family: 'Source Code Pro', monospace !important;
}

#main {
	display: flex;
	justify-content: center;
	min-height:100%;
    min-width:100%;
    align-items:center;
    position:relative;
    font-family: 'Source Code Pro', monospace; 
}

#centerContent {

	justify-content: center;
}

#name {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	font-size: 16px;
}

.navmenu {
	margin: 20px 20px 0 0;
	display:flex;
	justify-content: flex-end;
	font-family: 'Source Code Pro', monospace;
}

.menu {
	display: inline-block;
	margin: 0 20px;
}

.menu a:active {
	font-weight: 700 !important;
}

.menu:hover {
	border-bottom: 1px dotted #444;
	cursor: pointer;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: none;
}



.name:hover {
	border-bottom: 1px dotted #444;
	cursor: pointer;
}


/*.moveUp {
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
/*    animation:  mymove 5s infinite;
}*/

/* PROJECTS PAGE */

#projects .projects_container {
	width: 100%;
	min-height: 800px;
}

#projects .project {
	margin: 100px 0;
}

#projects .project_info {
	display: flex;
	position: relative;
	align-items: center;
	/*background-color: #ddd;*/
	min-height: 200px;
}

#projects .preview {
	/*background-color: #bbb;*/
}

#projects .preview img {
/*	width: 100px;
	height: 100px;*/
	padding: 0 10px;
}


#projects .title {
	font-size: 24px;
	font-family: 'Source Code Pro', monospace; 
}

#projects .details_container {
	background-color: #aaa;
	height: 200px;
}

#projects .tech_container {
	background-color: #fff;
	min-height: 50px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 10px 10px;
	background-color: #eee;
}



#projects .tech_logo img {
	display: inline-block;
	max-height: 20px;
	padding: 0 4px;
}

#projects .logo_only img {
	display: inline-block;
	max-height: 40px;
	padding: 0 4px;
}

.not_used {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .3;
}

.project_tile {
	padding: 20px;
}



#projects_tiled2 {
	width: 90%;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: space-around;
}

.project_tile2 {
	width: 400px;
	display: inline-block;
}



.logo_button img {
	width: 100px;
}



 Chrome, Safari, Opera 
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {top: 0px;}
}

@keyframes mymove {
    from {left: -100px;}
    to {top: -100px;}
}








