
<!-- <div id="projects_tiled">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4 project_tile">
			<h2 class="project_title">RoundUp</h2>
			<img ng-src="/img/roundup-screenshot.png" class="img-responsive">
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4 project_tile">
			<h2 class="project_title">StatusCheck</h2>
			<img ng-src="/img/statuscheck-preview.png" class="img-responsive">
		</div>
	</div>
</div> -->



<!-- <div id="projects_tiled2">
	<div class="project_tile2">
		<h2 class="project_title">RoundUp</h2>
		<img ng-src="/img/roundup-screenshot.png" class="img-responsive">
	</div>
	<div class="project_tile2">
		<h2 class="project_title">StatusCheck</h2>
		<img ng-src="/img/statuscheck-preview.png" class="img-responsive">
	</div>
</div>

<div class="filter_container">
  <label><input type="checkbox" ng-model="jquery">jquery</label><br/>
  <label>js: <input type="checkbox" ng-model="js"></label><br/>
  <label>angular: <input type="checkbox" ng-model="angular"></label><br/>
</div>

  js box: {{js}} </br>
  jquery box: {{jquery}}</br>
  angular box: {{angular}}
--> 
