<div id="resume">
<h1 class="page_title">My Resume</h1>
	<div style="text-align: center;">
		<a target="_self" href="/img/BrittanyBroetje.pdf" download="BrittanyBroetje.pdf" class="btn btn-default">Download PDF</a>
	</div>

	<h2 class="section_title">Experience</h2>

	<div class="row position">
		<div class="position_duration col-xs-12 col-sm-2">
			2010 - Present	
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="position_title"> 
				Freelance Web Developer/Designer
			</div>

			<div class="position_description">
				Development and design of custom (primarily WordPress) websites for small businesses (including e-commerce), development and implementation of custom ticket sales systems for music and event venues, and development of personal full-stack projects.
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Seattle, WA
		</div>
	</div>

	<div class="row position">
		<div class="position_duration col-xs-12 col-sm-2">
			2016
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="position_title"> 
				Web Development Immersive
			</div>
			<div class="position_location">
				General Assembly
			</div>
			<div class="position_description">
				Completed intensive 12-week coding bootcamp, demanding 80+ hours/week of study to achieve proficiency in both front and back-end languages, frameworks, and best practices including (but not limited to)  HTML, CSS, JavaScript, JQuery, AJAX, NodeJS, Express, SQL, Sequelize, MongoDB, Mocha, Chai, Ruby, Rails, Angular, ReactJS, and Agile development methodology.
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Seattle, WA
		</div>
	</div>

	<div class="row position">
		<div class="position_duration col-xs-12 col-sm-2">
			2016
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="position_title"> 
				Product Marketing Manager
			</div>
			<div class="position_location">
				SERPs.com
			</div>
			<div class="position_description">
				<ul>
					<li>
						Developed SQL queries for big data analysis of customers' search rankings, providing unprecedented insights into their organic search performance.
					</li>
					<li>
						Developed new branding for company, as well as branding and market strategy for new enterprise product (including, but not limited to, visual brand design, messaging and content, and conference exhibition design and strategy).	
					</li>
					<li>
						Led market and user research and analysis crucial for defining target audiences and personas, product planning and prioritization, and pricing strategy. 
					</li>
				</ul> 
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Seattle, WA
		</div>
	</div>



	<div class="row position">
		<div class="position_duration col-xs-12 col-sm-2">
			2013 - 2015
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="position_title"> 
				Product Strategist
			</div>
			<div class="position_location">
				Moz
			</div>
			<div class="position_description">
				<ul>
					<li>
						Led successful development, launch, and adoption of first company-wide intranet platform, effectively improving quality and consistency of internal information, and increasing transparency and efficiency of internal communication and knowledge sharing.
					</li>
					<li>
						Managed development and implementation of text resource library for all software copy to ensure consistency, minimize engineering bottlenecks, and streamline localization.
					</li>
					<li>
						Coached extended leadership team in effective goal-setting, leading to more measurable and relevant goals across all teams, and ultimately building accountability and generating more opportunities for continuous improvement.
					</li>
					<li>
						Personally responsible for reviewing all teams' goals and roadmaps on a quarterly and annual basis to proactively identify any cross-team dependency and/or alignment issues. Facilitated resolutions over resource allocation and conflicting product plans to minimize bottlenecks and improve accuracy of product timelines.
					</li>
					<li>
						Produced technical and business process documentation, user guides for internal systems, onboarding materials, customer journey maps, graphic representations of product roadmaps and team initiatives, as well as customer-facing in-app copy.
					</li>
				</ul>
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Seattle, WA
		</div>
	</div>

	<div class="row position">
		<div class="position_duration col-xs-12 col-sm-2">
			2012
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="position_title"> 
				Lead Web Strategist
			</div>
			<div class="position_location">
				Rainier Industries
			</div>
			<div class="position_description">
				<ul>
					<li>
						Coordinated with in-house photographers, designers, marketing and sales teams, and external engineering contractors to lead transition from one static HTML company website to eight unique, dynamic, CMS-based sites.
					</li>
					<li>
						Built and launched these eight new websites in less than nine months; responsible for all development work with exception of one piece of advanced functionality.
					</li>
					<li>
						Built custom pricing calculator and integrated E-Commerce platform, allowing customers to purchase products online for the first time in company's history.
					</li>
					<li>
						Worked with engineers to develop fully-automated system for dealers to easily find and order parts online.	
					</li>
				</ul>
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Tukwila, WA
		</div>
	</div>

	<div class="row position">
		<div class="position_duration col-xs-12 col-sm-2">
			2009 - 2011
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="position_title"> 
				Project Manager
			</div>
			<div class="position_location">
				Atlas Networks
			</div>
			<div class="position_description">
					Managed company's operations as a TV/internet/phone service provider:
						<br><br>
						<ul>
							<li>
								Planned and scheduled all installation and maintenance work for territory with over 200 customer accounts and a constant queue of new installation requests.
							</li>
							<li>
								Budgeted for and executed equipment purchases, and managed inventory, for multi-million dollar fiber optic network.
							</li>
							<li>
								Streamlined and documented processes to ensure effective ongoing project management.	
							</li>
							<li>
								Repaired previously damaged customer and vendor relationships resulting in >90% reduction in billing and communication-related complaints in less than 3 months.
							</li>
							<li>
								Managed billing for 500+ accounts receivable, totaling ~$1,000,000 in annual revenue, 50+ accounts payable, payroll for 10 employees, bookkeeping and account reconciliation.
							</li>
							<li>
								Acted as primary point of communication for all 500+ accounts (with exception of most data center support calls, which were routed to a designated technical support line).
							</li>
						</ul>
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Seattle, WA
		</div>
	</div>
	 		


	<h2 class="section_title">Education</h2>

	<div class="row education">
		<div class="education_duration col-xs-12 col-sm-2">
			2016
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="education_title"> 
				Web Development Immersive Program
			</div>
			<div class="education_location">
				General Assembly
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Seattle, WA
		</div>
	</div>

	<div class="row education">
		<div class="education_duration col-xs-12 col-sm-2">
			2009
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="education_title"> 
				BA, Business Management, International Business
			</div>
			<div class="education_location">
				Western Washington University
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Bellingham, WA
		</div>
	</div>

	<div class="row education">
		<div class="education_duration col-xs-12 col-sm-2">
			2007
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="education_title"> 
				Cross-Cultural Managemant & Economics of the European Union
			</div>
			<div class="education_location">
				CEA Global Education
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Paris, France
		</div>
	</div>


	<h2 class="section_title">Volunteer Work</h2>

	<div class="row education">
		<div class="education_duration col-xs-12 col-sm-2">
			2015 - Present
		</div>
		<div class="col-xs-12 col-sm-8">	
			<div class="education_title"> 
				Wildlife Care Assistant, Sr. Volunteer
			</div>
			<div class="education_location">
				PAWS (Progressive Animal Welfare Society), Wildlife Hospital
			</div>
		</div>
		<div class="hidden-xs col-sm-2 position_geo">
			Lynnwood, WA
		</div>
	</div>

</div>